 @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --border-color:rgb(171,157,157);
    --background-color:#c3c7ca;
    --text-color:rgb(54,54,92);
}
*{
    box-sizing: border-box;

}
body{
    
    background-color:#fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    font-family: "Lato",sans-serif;

}

.draggable_list{
    border: 1px solid var(--border-color);
    color:var(--text-color) ;
    padding: 0;
    list-style-type: none;
}
.draggable_list li{

    background-color: #eaeaea;
    display: flex;
    flex: 1;
}
.draggable_list li:not(:last-of-type){
 border-bottom: 1px solid var(--border-color);
}
.draggable_list .number{
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    height: 60px;
    width: 60px;

}
.draggable_list li.over .draggable{
    background-color: #fff;
}
.draggable_list .person-name{
    margin: 0 20px 0 0 ;
}
.draggable_list li.right .person-name{
    color:#3ae374;
}
.draggable_list li.wrong .person-name{
    color:#ff3838;
}
.draggable{
    cursor: pointer;
    display:flex ;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    flex: 1;
} 
.check-btn{
    background-color: var(--background-color);
    border: none;
    color: var(--text-color);
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
}
.check-btn:active{
    transform: scale(0.9);
}
.check-btn:focus{
    outline: none;
}